<!DOCTYPE html>

<head>
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/output/output.css' %}">
    <link rel="stylesheet" href="{% static 'styles/output/main.css' %}">
</head>

<body>
<section class="" id="footer">
            <div class="title">
                <h1 class="name">
                    Medical Image Segmentation and Classification Tool
                </h1>
                <p class="subheading">
                    Revolutionize Medical Imaging with Our State-of-the-Art Segmentation and Classification Tool
                </p>
            </div>

            <div class="links-section">
                <h1 class="text-2xl">
                    Quick Links
                </h1>
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="segment/">Segmenter</a></li>
                    <li><a href="project/">Project Report</a></li>
                </ul>
            </div>

            <div class="team-members">
                <h1>
                    Made By: Final Year BME
                </h1>
                <ul>
                    <li>Ms.Farthima Shabana</li>
                    <li>Ms.Ruth</li>
                    <li>Ms.</li>
                    <li>Ms.</li>
                </ul>
            </div>
        </section>
</body>