<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Report</title>
    <link rel="stylesheet" href="{% static 'styles/output/report.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/output/output.css'%}" />
</head>
<body>
{% include "navbar.html" %}
    <section class="project-report h-screen w-full">
        <section class="report-content">
        <h1>
            Kideny Tomour Segmentation and Classification
        </h1>
        <h3>
            Team Members
        </h3>
        <h4>
            <ul>
                <li>Ms. Farthima Shabana B.E IV</li>
                <li>Ms. Ruth B.E IV</li>
                <li></li>
                <li></li>
            </ul>
        </h4>
    </section>

    <main class="report">

    </main>
    </section>
{% include "footer.html" %}
</body>
</html>